# Created by .ignore support plugin (hsz.mobi)
.idea
/out
libs/Project server/*.bat
libs/Project server/*.lck
libs/Project server/*.log
libs/Project server/*.properties
libs/Project server/*.script
libs/Project server/*.tmp

libs/Project server/
